# General
.DS_Store
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env.development
.env.test
.env.production
.idea/
.vscode/
*.swp

# Node.js
node_modules/
dist/
build/
.cache/
.turbo/
.next/
out/
/docker/postgres/data/
